.project-card{
    margin-top: 10px;
}

.head-card{
    margin-top: 20px;
}

.project-link{
    display: block;
    color: black;
}

.project-item{
    background-color: lightgray;
    background-size: cover;
}