.project-card{
    margin-top: 5px;
    background-color: lightgrey;
    text-align: center;
    border-style: groove;
}

.head-card{
    margin-top: 20px;
    text-align: center;
}

.project-link{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.project-img{
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-item{

}

