.project-card{
    margin-top: 10px;
    background-color: lightgrey;
    text-align: center;
}

.head-card{
    margin-top: 20px;
    text-align: center;
}

.project-link{
    font-weight: bold;
    color: black;
}

.project-img{
    margin-top: 10px;
}

